.nav-item {
    border: 1px solid #D4D4D4;
    padding:0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.3rem;
}

.nav-item:hover {
    background-color: #F6F6F6;
}
.search-bar {
    width:100%;
    padding-left:500px;
}

.search-result {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #D4D4D4;
    transition: background-color 0.3s ease; 
}

.search-result:hover {
    background-color: #F6F6F6; 
}

.search-result:hover .result-name {
    color: #646cffaa;  
}

.relative {
    position: relative;
    width: 250px; 
}


